p{ 
    font-family: 'Smokum', cursive;
    color:rgb(240, 7, 7) }


    .dolor {
        font-family: 'Mogra', cursive; 
        width: 800px; color:rgb(231, 16, 160);
        padding-top: 20cqmax;
     background-color: chartreuse;
    padding-top: 50;
position: relative;  }


.sit{
    background-image: url("lol.jpg");
background-attachment: fixed; }



